/* Variables and mixins declared here will be available in all other SCSS files */
/* https://github.com/jgthms/bulma/issues/1293 */
@import 'bulma/sass/utilities/initial-variables';
$navbar-breakpoint: $tablet;
$body-overflow-y: auto;
$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
